// # vars

$u: 12px; // main grid unit
$nav-height: 3.5 * $u;

// # master

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  cursor: default;
  background-color: #F0F0F0;
  color: #1C1C1A;
  height: 100vh; /* Use viewport height instead of 100% to occupy full screen height */
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

// # navbar

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #154151;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);  /* optional drop shadow */
}

.logo-container img {
  height: $nav-height;
  width: auto;
  fill: white;
}

// # load button

button {
  padding: 15px 25px;
  font-size: 18px;
  color: #F0F0F0;
  background-color: #944038;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;

  /* ... existing button styles ... */
  border-bottom: 3px solid #381815;  /* A darker shade for 3D effect */
  position: relative;  /* Required for the top movement on hover */
  transition: all 1.1s ease;  /* Transition for all properties */

  &:hover {
    transform: scale(1.05);
  }
}

#buttonContainer {
  display: flex;
  justify-content: center;
}

// # piano roll container

#pianoRollContainer {
  width: auto; height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-items: flex-start;
  align-items: flex-start;
}

// # piano roll spotlight

#pianoRollSpotlight {
  max-width: 0px;
  height: 0px;
  flex-basis: 42 * $u;
  flex-grow: 2;

  &:has(.piano-roll-card) {
    max-width: 100vw;
    height: 24 * $u;
    margin-right: 2 * $u;
  }
}

// # piano roll grid

#pianoRollGrid {
  height: calc(100vh - $nav-height);
  overflow: auto;

  flex-basis: 32*$u;
  flex-grow: 1;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 12px;
}

// # piano roll card

.piano-roll-svg {
  border: 2px solid #381815;
}

.piano-roll-card {
  border: 1px solid #ccc;
  // margin-bottom: 10px;
  padding: 10px;
  flex-basis: 32*$u;
  flex-grow: 1;
  box-sizing: border-box;

}

.description {
  margin-top: 10px;
}
